Flask==3.0.3
gunicorn==21.2.0
Flask-SQLAlchemy==3.1.1
Flask-Login==0.6.3
Flask-Bcrypt==1.0.1

google-generativeai==0.8.5
stability-sdk==0.9.3

python-dotenv==1.0.1
deep-translator==1.11.4
Pillow==10.2.0
requests==2.31.0
